.groznyogorbtext {
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
    background-color: black;
    color: white;
    background: rgb(34,30,34);
    background: linear-gradient(90deg, rgba(34,30,34,1) 0%, rgba(34,32,34,1) 35%);
}
.cards {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    font-size: 24px;
    margin: 100px 10px;
    border: 1px solid #e3e3e3;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.groznyogoritext {
    font-size: 22px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif; }
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
      }      
.button:hover {
    background-color: #fff;
      }
.copyrighttext {
    font-size: medium;
}
.aboutmetext {
    font-size: large;
}
header {
    text-align: left;
}
head {
    text-align: center;
}
